<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="views/layout/web/base-layout">

<div layout:fragment="body" class="site-wrap">
	<!-- HOME -->
	<section class="section-hero overlay inner-page bg-image"
		style="background-image: url('assets/web/images/hero_1.jpg');"
		id="home-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="custom-breadcrumbs mb-0">
						<span class="slash">Posted by</span> <a
							th:href="@{https://free-template.co/}" class="text-white"
							target="_blank">Free-Template.co</a> <span class="mx-2 slash">&bullet;</span>
						<span class="text-white"><strong>April 15, 2019</strong></span>
					</div>
					<h1 class="text-white">Where Do You Learn HTML &amp; CSS in
						2020?</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="site-section" id="next-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 blog-content">
					<h3 class="mb-4">Lorem ipsum dolor sit amet consectetur
						adipisicing elit</h3>
					<p class="lead">Lorem ipsum dolor sit amet, consectetur
						adipisicing elit. Assumenda nihil aspernatur nemo sunt, qui, harum
						repudiandae quisquam eaque dolore itaque quod tenetur quo quos
						labore?</p>
					<p>
						<img th:src="@{/assets/web/images/sq_img_1.jpg}"
							alt="Free Website Template by Free-Template.co"
							class="img-fluid rounded">
					</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Quae expedita cumque necessitatibus ducimus debitis totam, quasi
						praesentium eveniet tempore possimus illo esse, facilis? Corrupti
						possimus quae ipsa pariatur cumque, accusantium tenetur
						voluptatibus incidunt reprehenderit, quidem repellat sapiente, id,
						earum obcaecati.</p>

					<blockquote>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Provident vero tempora aliquam excepturi labore, ad soluta
							voluptate necessitatibus. Nulla error beatae, quam, facilis
							suscipit quaerat aperiam minima eveniet quis placeat.</p>
					</blockquote>

					<p>Eveniet deleniti accusantium nulla natus nobis nam
						asperiores ipsa minima laudantium vero cumque cupiditate ipsum
						ratione dicta, expedita quae, officiis provident harum nisi! Esse
						eligendi ab molestias, quod nostrum hic saepe repudiandae non.
						Suscipit reiciendis tempora ut, saepe temporibus nemo.</p>
					<h4 class="mt-5 mb-4">Lorem ipsum dolor sit amet consectetur
						adipisicing elit</h4>
					<p>Accusamus, temporibus, ullam. Voluptate consectetur laborum
						totam sunt culpa repellat, dolore voluptas. Quaerat cum ducimus
						aut distinctio sit, facilis corporis ab vel alias, voluptas
						aliquam, expedita molestias quisquam sequi eligendi nobis ea error
						omnis consequatur iste deleniti illum, dolorum odit.</p>
					<p>In adipisci corporis at delectus! Cupiditate, voluptas, in
						architecto odit id error reprehenderit quam quibusdam excepturi
						distinctio dicta laborum deserunt qui labore dignissimos
						necessitatibus reiciendis tenetur corporis quas explicabo
						exercitationem suscipit. Nisi quo nulla, nihil harum obcaecati vel
						atque quos.</p>
					<p>Amet sint explicabo maxime accusantium qui dicta enim quia,
						nostrum id libero voluptates quae suscipit dolor quam tenetur
						dolores inventore illo laborum, corporis non ex, debitis quidem
						obcaecati! Praesentium maiores illo atque error! Earum, et, fugit.
						Sint, delectus molestiae. Totam.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Culpa iste, repudiandae facere aperiam sapiente, officia delectus
						soluta molestiae nihil corporis animi quos ratione qui labore?
						Sint eaque perspiciatis minus illum.</p>
					<p>Consectetur porro odio quod iure quaerat cupiditate
						similique, dolor reprehenderit molestias provident, esse dolorum
						omnis architecto magni amet corrupti neque ratione sunt beatae
						perspiciatis? Iste pariatur omnis sed ut itaque.</p>
					<p>Id similique, rem ipsam accusantium iusto dolores sit velit
						ex quas ea atque, molestiae. Sint, sed. Quisquam, suscipit!
						Quisquam quibusdam maiores fugiat eligendi eius consequuntur,
						molestiae saepe commodi expedita nemo!</p>
					<div class="pt-5">
						<p>
							Categories: <a th:href="@{#}">Design</a>, <a th:href="@{#}">Events</a>
							Tags: <a th:href="@{#}">#html</a>, <a th:href="@{#}">#trends</a>
						</p>
					</div>
					<div class="pt-5">
						<h3 class="mb-5">Comment</h3>
						<ul class="comment-list" th:if="*{comment!=null}">
							<li class="comment">
								<div class="vcard bio">
									<img th:src="@{/assets/web/images/person_1.jpg}"
										alt="Image placeholder">
								</div>
								<div class="comment-body" th:each="comment,iter: ${comment}">
									<h3 th:text="${comment.user.name}"></h3>
									<div class="meta">January 9, 2018 at 2:21pm</div>
									<p th:text="${comment.content}"></p>
									<p>
										<a class="reply"
											th:href="@{'/blog-single/' + ${comment.id} + '/reply'}">Reply</a>

									</p>
								</div>

								<ul class="children">
									<li class="comment" th:if="${replies!=null}"
										th:each="reply,iter: ${replies}">
										<div class="vcard bio">
											<img th:src="@{/assets/web/images/person_2.jpg}"
												alt="Image placeholder">
										</div>
										<div class="comment-body">
											<h3 th:text="${reply.user.name}"></h3>
											<div class="meta">January 9, 2018 at 2:21pm</div>
											<p th:text="${reply.content}"></p>
										</div>
									</li>
									<li>
										<form th:if="*{comment!=null}" th:object="${replyForm}"
											th:action="@{'/blog-single/' + ${comment.id} + '/reply'}"
											class="form-horizontal" method="post">
											<input type="hidden" th:field="*{id}" /> <input
												type="hidden" step="1" th:field="${comment.job.id}"
												class="form-control" placeholder="job" /> <input
												type="hidden" step="1" th:field="${comment.user.id}">
											<div class="form-group">
												<label for="rep-comment">Reply:</label>
												<textarea class="form-control" rows="5" id="rep-content"
													name="content"></textarea>
											</div>
											<div class="form-group text-center">
												<div class="col-sm-offset-2">
													<input type="submit" value="Submit" class="btn btn-success" />
												</div>
											</div>

										</form>
									</li>

								</ul>
							</li>
						</ul>
						<!-- END comment-list -->

						<div class="comment-form-wrap pt-5">
							<h3 class="mb-5">Leave a comment</h3>
							<form th:object="${cmtForm}" th:action="@{/blog-single}"
								method="post">
								<div class="form-group">
									<label for="name">Job</label> <input th:field="*{job.id}"
										type="number" class="form-control" id="name">
								</div>

								<div class="form-group">
									<!-- 									<label for="name">User</label> <input th:field="*{user.id}" -->
									<!-- 										type="number" class="form-control" id="name"> -->
									<input type="hidden" name="user.id"
										th:value="${#authentication.principal.user.id}">

								</div>

								<div class="form-group">
									<label for="message">Message</label>
									<textarea name="content" id="message" cols="30" rows="10"
										class="form-control"></textarea>
								</div>
								<div class="form-group">
									<input type="submit" value="Post Comment"
										class="btn btn-primary btn-md">
								</div>

							</form>
						</div>
					</div>

				</div>
				<div class="col-lg-4 sidebar pl-lg-5">
					<div class="sidebar-box">
						<form action="#" class="search-form">
							<div class="form-group">
								<span class="icon fa fa-search"></span> <input type="text"
									class="form-control form-control-lg"
									placeholder="Type a keyword and hit enter">
							</div>
						</form>
					</div>
					<div class="sidebar-box">
						<img src="images/person_1.jpg" alt="Image placeholder"
							class="img-fluid mb-4 w-50 rounded-circle">
						<h3>About The Author</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Ducimus itaque, autem necessitatibus voluptate quod mollitia
							delectus aut, sunt placeat nam vero culpa sapiente consectetur
							similique, inventore eos fugit cupiditate numquam!</p>
						<p>
							<a th:href="@{#}" class="btn btn-primary btn-sm">Read More</a>
						</p>
					</div>

					<div class="sidebar-box">
						<div class="categories">
							<h3>Categories</h3>
							<li><a th:href="@{#}">Creatives <span>(12)</span></a></li>
							<li><a th:href="@{#}">News <span>(22)</span></a></li>
							<li><a th:href="@{#}">Design <span>(37)</span></a></li>
							<li><a th:href="@{#}">HTML <span>(42)</span></a></li>
							<li><a th:href="@{#}">Web Development <span>(14)</span></a></li>
						</div>
					</div>


					<div class="sidebar-box">
						<h3>Paragraph</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							Ducimus itaque, autem necessitatibus voluptate quod mollitia
							delectus aut, sunt placeat nam vero culpa sapiente consectetur
							similique, inventore eos fugit cupiditate numquam!</p>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>
</html>