<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="views/layout/web/base-layout">

<div layout:fragment="body" class="site-wrap">
	<!-- HOME -->
	<section class="home-section section-hero inner-page overlay bg-image"
		style="background-image: url('assets/web/images/hero_1.jpg');"
		id="home-section">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-md-12">
					<div class="mb-5 text-center">
						<h1 class="text-white font-weight-bold">Our Job</h1>
						<p>Find your dream jobs in our powerful career website
							template.</p>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="site-section">
		<div class="container">
			<div class="row mb-5" >
				<div class="col-4" th:each="job,iter : ${jobs}">
					<a th:href="@{'/blog-single/' + ${job.id}}"><img
						th:src="@{/assets/web/images/sq_img_1.jpg}"
						alt="Free Website Template by Free-Template.co"
						class="img-fluid rounded mb-4"></a>
					<h3>
						<a th:text="${job.jobTitle}" th:href="@{'/blog-single/' + ${job.id}}" class="text-black"></a>
					</h3>
					<div>
						April 15, 2019 <span class="mx-2">|</span> <a href="#">2
							Comments</a>
					</div>
				</div>
			</div>
			<div class="row pagination-wrap mt-5">
				<div class="col-md-12 text-center ">
					<div class="custom-pagination ml-auto">
						<a th:href="@{#}" class="prev">Previous</a>
						<div class="d-inline-block">
							<a th:href="@{#}" class="active">1</a> <a href="#">2</a> <a
								href="#">3</a> <a th:href="@{#}">4</a>
						</div>
						<a th:href="@{#}" class="next">Next</a>
					</div>
				</div>
			</div>

		</div>
	</section>

</div>
</html>