<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="views/layout/base-layout">

<div layout:fragment="body">
	<div class="container text-center" >
		<h1>Job</h1>
		<table class="table table-hover table-dark">
			<thead class="bg-primary">
				<tr>
					<th scope="col" class="text-center">Id</th>
					<th scope="col" class="text-center">Name</th>
					<th scope="col" class="text-center">Salary</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="job : ${jobs}">
					<tr>
						<td th:text="${job.id}"></td>
						<td th:text="${job.jobTitle}"></td>
						<td th:text="${job.salary}"></td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
</div>

</html>