<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="header">
	<!-- Main Header -->
	<header class="main-header">
		<!-- Logo -->
		<a href="#" th:href="@{/}" class="logo"> <span class="logo-mini"><b>J</b>F</span>
			<!-- logo for regular state and mobile devices --> <span
			class="logo-lg"><b>Job</b>Fair</span>
		</a>

		<!-- Header Navbar -->
		<nav class="navbar navbar-static-top" role="navigation">
			<!-- Sidebar toggle button-->
			<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
				role="button"> <span class="sr-only">Toggle navigation</span>
			</a>
			<!-- Navbar Right Menu -->
			<div class="navbar-custom-menu">
				<ul class="nav navbar-nav">
					<!-- User Account Menu -->
					<li class="dropdown user user-menu">
						<!-- Menu Toggle Button --> <a href="#" class="dropdown-toggle"
						data-toggle="dropdown"> <span class="hidden-xs"><span
								sec:authentication="name">Setting</span>&nbsp;<i
								class="fa fa-gears"></i></span>
					</a>
						<ul class="dropdown-menu">
							<!-- The user image in the menu -->
							<li class="user-header">
								<p>
									<span sec:authentication="name">Setting</span>
								</p>
							</li>
							<!-- Menu Footer-->
							<li class="user-footer">
								<div class="row">
									<div class="col-xs-4 text-center">
										<a th:href="@{/editprofile}">Edit Profile</a>
									</div>
									<div class="col-xs-4 text-center">
										<a th:href="@{/changepassword}">Change Password</a>
									</div>
									<div class="col-xs-4 text-center">
										<form th:action="@{/j_spring_security_logout}" method="post">
										    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
										    <input class="btn btn-info" type="submit" value="Sign Out" sec:authorize="isAuthenticated()" />
										</form>
									</div>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<!-- Left side column. contains the logo and sidebar -->
	<aside class="main-sidebar">

		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">

			<!-- Sidebar user panel (optional) -->
			<div class="user-panel"></div>

			<!-- Sidebar Menu -->
			<ul class="sidebar-menu">
				<li class="header">Menu</li>

				<li class="treeview" id="datamaster"><a href="#"><i
						class="fa fa-th"></i> <span>Jobs</span> <span
						class="pull-right-container"> <i
							class="fa fa-angle-left pull-right"></i>
					</span> </a>
					<ul class="treeview-menu">
						<li><a th:href="@{/jobs}">Jobs List</a></li>
					</ul></li>
				<li class="treeview" id="datamaster"><a href="#"><i
						class="fa fa-building"></i> <span>Companies</span> <span
						class="pull-right-container"> <i
							class="fa fa-angle-left pull-right"></i>
					</span> </a>
					<ul class="treeview-menu">
						<li><a th:href="@{/companies}">Companies List</a></li>
					</ul></li>
				<li class="treeview" id="datamaster"><a href="#"><i
						class="fa fa-users"></i> <span>Users</span> <span
						class="pull-right-container"> <i
							class="fa fa-angle-left pull-right"></i>
					</span> </a>
					<ul class="treeview-menu">
						<li><a th:href="@{/users}">Users List</a></li>
					</ul></li>
</header>