<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:lang = "en">
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link th:href="@{/resources/user/css/bootstrap.min.css}" rel="stylesheet"/>
	</head>
	
	<body>
		<nav class="navbar navbar-default">
			<div th:replace="views/layout/header :: header"></div>
		</nav>
	
		<div layout:fragment="body"></div>
	
		<footer>
			<div th:replace="views/layout/footer :: footer"></div>
		</footer>
	
	</body>
	
	<script th:src="@{/resources/user/js/jquery.min.js}"></script>
	<script th:src="@{/resources/user/js/bootstrap.min.js}"></script>
</html>
