<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="views/layout/base-layout">
<div layout:fragment="body">
	<div class="container" style="margin: 0 auto;">

		<!--alerts-->
		<div th:if="${msg != null}" class="alert alert-dismissible "
			th:class="${css == 'error' ? 'alert-error' : 'alert-success'} + ' alert text-center'"
			role="alert">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<strong><span th:text="${msg}"></span></strong>
		</div>
		<h1 th:if="${status == 'add'}">Add User</h1>
		<h1 th:if="${status == 'edit'}">Update User</h1>
		<br />
		<div class="col-md-6" style="margin: 0 auto;">
			<form th:object="${userForm}" th:action="@{/users}"
				class="form-horizontal" method="post">
				<input type="hidden" th:field="*{id}" /> <input type="hidden"
					name="status" th:value="${status}" />
				<div class="form-group">
					<label class="col-sm-2 control-label">Name</label>
					<div class="col-sm-10">
						<input type="text" th:field="*{name}" class="form-control"
							placeholder="Name" />
						<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Email</label>
					<div class="col-sm-10">
						<input type="text" th:field="*{email}" class="form-control"
							placeholder="Email" />
						<p th:errors="*{email}"></p>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Role</label>
					<div class="col-sm-10">
						<label class="radio-inline"> <input type="radio"
							th:field="*{role}" value="0" />User
						</label> <label class="radio-inline"> <input type="radio"
							th:field="*{role}" value="1" />Admin
						</label>
					</div>
				</div>
				<div class="form-group text-center">
					<div class="col-sm-offset-2">
						<input type="submit" value="Submit" class="btn btn-success" />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</html>